* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

/* navbar */
nav {
    display: flex;
    background-color: black;
    justify-content: space-around;
    /* padding: 20px 0; */
    color: aliceblue;
    height: 50px;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 40%;
}

nav ul li a {
    text-decoration: none;
    color: crimson;
    font-size: 0, 8em;
}

nav ul li a:hover {
    color: brown;
}

/*menu burger*/
.menu-toggle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -6px;
    top: -4px;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: aliceblue;
    border-radius: 3px;
    transition: all 0.5s;
}

/*hambuger menu animation*/
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
}


/*responsive*/


/*ukuran tablet*/
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/* ukuran mobile*/
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }


    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: lightskyblue;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
    }
}

nav ul.slide {
    transform: translateX(0);
}